body {
    margin: 0;
    padding: 0;
}

#map {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.mapboxgl-ctrl {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
}

.toggle-button {
    background-color: #fff;
    border: 2px solid #007aff;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.custom-marker {
    background-color: transparent !important;
    border-radius: 0;
}

.custom-marker:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
}

.toggle-container {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;  /* Hidden by default */
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 12px;
}

/* When shown, it will use this class */
.dropdown-content.show {
    display: block;
}

.checkbox-container {
    display: block;
    margin: 8px 0;
}

.difficulty-dropdown {
    margin-left: 20px;
    margin-top: 5px;
}

.difficulty-dropdown label {
    display: block;
    margin: 5px 0;
}

/* Base popup styles */
.mapboxgl-popup-content {
    padding: 10px;
    border-style: solid;
}

/* Color variations based on feature difficulty */
.popup-green .mapboxgl-popup-content {
    border-width: 3px !important;
    border-color: #00ff00 !important;
    border-radius: 3px !important;
}

.popup-blue .mapboxgl-popup-content {
    border-width: 3px !important;
    border-color: #0000ff !important;
    border-radius: 3px !important;
}

/* Much thicker border for black difficulty */
.popup-black .mapboxgl-popup-content {
    border-width: 15px !important;
    border-color: #000000 !important;
    border-radius: 0px !important;  /* Remove border radius for black difficulty */
    box-shadow: 0 0 10px rgba(0,0,0,0.5) !important;
}

.feature-popup {
    padding: 10px;
}

#navigationMenu {
    position: absolute;
    top: 10px;
    right: 10px;
    background: white;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 1;
    max-width: 200px; /* Adjust this value to make it smaller/larger */
}

#navigationMenu select {
    width: 100%;
    margin-bottom: 5px;
    padding: 4px;
    font-size: 12px; /* Smaller font size */
}

#resetNavigation {
    width: 100%;
    padding: 4px;
    font-size: 12px;
    margin-top: 5px;
}